spring:
  profiles:
    active: dev

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:

  # Redis
  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0

  # mail
  mail:
    host: smtp.163.com
    port: 465
    username: # 邮箱
    password: # SMTP 授权码
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true

# MyBatis
mybatis:
  type-aliases-package: com.action.domain.entity
  configuration:
    map-underscore-to-camel-case: true
